/*
Theme Name:     Buntu
Theme URI:      http://www.nilambar.net/2016/02/buntu-free-wordpress-theme.html
Description:    Buntu is a clean, responsive and minimal theme for your awesome WordPress website. This theme is derived from Stargazer.
Author:         Nilambar Sharma
Author URI:     http://www.nilambar.net
Template:       stargazer
Version:        1.3
Text Domain:    buntu
License:        GPLv2 or later
License URI:    http://www.gnu.org/licenses/gpl-2.0.html
Tags:           purple, white, one-column, two-columns, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, left-sidebar, post-formats, responsive-layout, right-sidebar, rtl-language-support, theme-options, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

This theme is child theme of Stargazer parent theme.
*/

.entry-title, .entry-title a {
    color: #230d5b;
}

.layout-1c #footer .credit,
.layout-2c-l #footer .credit,
.layout-2c-r #footer .credit {
    float: left;
}

#footer-navigation {
    float: right;
    margin-bottom: 20px;
}
#footer-navigation ul {
    margin: 0;
    list-style-type: none;
}
#footer-navigation ul li{
    margin-right: 10px;
    display: inline-block;
}

@media only screen and ( max-width: 767px ) {
    #footer-navigation {
        float: left;
    }
}

@media only screen and ( max-width: 520px ) {
    #footer-navigation {
        float: none;
        text-align: center;
    }
}

.scrollup::before {
    display:        inline-block;
    font-family:    'Genericons';
    font-size:      35px;
    font-style:     normal;
    font-weight:    normal;
    font-variant:   normal;
    line-height:    1;
    vertical-align: middle;
    content: '\f432';
    -webkit-font-smoothing: antialiased;
}
.scrollup:hover::before {
    color: #FFFFFF;
}
.scrollup,
.scrollup:focus,
.scrollup:active {
    background-color: #3d3d3d;
    border-radius: 5px;
    bottom: 75px;
    color: #ffffff;
    display: none;
    float: right;
    line-height: 1.2;
    padding: 5px;
    position: fixed;
    right: 32px;
    text-align: center;
}

.loop-nav .prev a::before,
.loop-nav .next a::after {
    display:        inline-block;
    font-family:    'Genericons';
    font-size:      35px;
    font-style:     normal;
    font-weight:    normal;
    font-variant:   normal;
    line-height:    1;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}
.loop-nav .prev a::before{
    content: '\f430';
}
.loop-nav .next a::after{
    content: '\f429';
}
.loop-nav .next {
    border-top: 1px #656565 solid;
    text-align: right;
}

/* Social menu */
.buntu_widget_social li a::before {
    display:        inline-block;
    font-family:    'Genericons';
    font-size:      18px;
    font-style:     normal;
    font-weight:    normal;
    font-variant:   normal;
    line-height:    1;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}
.buntu_widget_social .size-medium li a::before {
    font-size: 22px;
}
.buntu_widget_social .size-large li a::before {
    font-size: 28px;
}
.buntu_widget_social .size-extra-large li a::before {
    font-size: 40px;
}
.buntu_widget_social ul,
.ltr .buntu_widget_social ul,
.rtl .buntu_widget_social ul {
    list-style-type: none;
    margin-left: 0;
}
.buntu_widget_social li {
    display: inline-block;
    margin-bottom: 3px;
}
.buntu_widget_social li a::before        { content: '\f408'; padding: 0 3px; }
.buntu_widget_social li a:hover::before,
.buntu_widget_social li a:focus::before  { opacity: 0.75; }

.buntu_widget_social li a[href*="codepen.io"]::before      { content: '\f216'; color: #333;    }
.buntu_widget_social li a[href*="digg.com"]::before        { content: '\f221'; color: #333;    }
.buntu_widget_social li a[href*="dribbble.com"]::before    { content: '\f201'; color: #ea4c89; }
.buntu_widget_social li a[href*="dropbox.com"]::before     { content: '\f225'; color: #007ee5; }
.buntu_widget_social li a[href*="facebook.com"]::before    { content: '\f203'; color: #3b5998; }
.buntu_widget_social li a[href*="flickr.com"]::before      { content: '\f211'; color: #ff0084; }
.buntu_widget_social li a[href*="plus.google.com"]::before { content: '\f206'; color: #dd4b39; }
.buntu_widget_social li a[href*="github.com"]::before      { content: '\f200'; color: #4183c4; }
.buntu_widget_social li a[href*="instagram.com"]::before   { content: '\f215'; color: #3f729b; }
.buntu_widget_social li a[href*="linkedin.com"]::before    { content: '\f208'; color: #0e76a8; }
.buntu_widget_social li a[href*="pinterest.com"]::before   { content: '\f210'; color: #c8232c; }
.buntu_widget_social li a[href*="polldaddy.com"]::before   { content: '\f217'; color: #bc0b0b; }
.buntu_widget_social li a[href*="getpocket.com"]::before   { content: '\f224'; color: #ee4056; }
.buntu_widget_social li a[href*="reddit.com"]::before      { content: '\f222'; color: #336699; }
.buntu_widget_social li a[href*="skype.com"]::before,
.buntu_widget_social li a[href*="skype:"]::before          { content: '\f220'; color: #00aff0; }
.buntu_widget_social li a[href*="stumbleupon.com"]::before { content: '\f223'; color: #ff2618; }
.buntu_widget_social li a[href*="tumblr.com"]::before      { content: '\f214'; color: #34526f; }
.buntu_widget_social li a[href*="twitter.com"]::before     { content: '\f202'; color: #33ccff; }
.buntu_widget_social li a[href*="vimeo.com"]::before       { content: '\f212'; color: #1AB7EA; }
.buntu_widget_social li a[href*="wordpress.org"]::before,
.buntu_widget_social li a[href*="wordpress.com"]::before   { content: '\f205'; color: #21759b; }
.buntu_widget_social li a[href*="youtube.com"]::before     { content: '\f213'; color: #c4302b; }


.ltr .widget-title > .wrap::before,
.rtl .widget-title > .wrap::before {
    content: '';
}

.ltr .widget-title > .wrap,
.rtl .widget-title > .wrap {
    padding: 10px !important;
    font-size: 0.9rem;
}

.infinite-scroll nav.pagination.navigation{
    display: none;
}

#infinite-handle {
    clear: both;
    height: auto;
    margin-bottom: 20px;
    overflow: hidden;
}
#infinite-handle span{
    background-color: rgba(35, 13, 91, 0.8);
    color: #fff;
    padding: 0.75rem 1rem;
    border: medium none;
    box-sizing: border-box;
    display: inline-block;
    font-size: 0.9375rem;
    font-weight: 400;
    padding: 0.75rem 1rem;
    transition: all 0.5s ease-in-out 0s;
    font-family: "Open Sans",Arial,sans-serif;
}
.infinite-loader {
    margin-bottom: 20px;
}
